{% extends "TaichiBlogBundle:Admin:layout.html.twig" %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Taichi Blog Admin Panel{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//cdn.bootcss.com/select2/4.0.1/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Post</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_start(form) }}
                            {{ form_row(form.subject) }}
                            {{ form_row(form.category) }}
                            {{ form_row(form.summary) }}
                            {{ form_row(form.content) }}
                            <div class="form-group" id="content_preview" hidden>
                                <label id="label_preview"
                                       class="col-lg-2 col-md-2 col-sm-2 control-label">{{ 'label.preview'|trans }}</label>
                                <div class="col-lg-10 col-md-10 col-sm-10">
                                    <div id="preview" class="alert alert-info">Content preview</div>
                                </div>
                            </div>
                            {{ form_row(form.tags) }}
                            {{ form_row(form.pictureUrl) }}
                            <div class="form-group">
                                <div class="col-lg-2">&nbsp;</div>
                                <div class="col-lg-10">
                                    <input type="submit" value="{{ 'label.save'|trans }}"
                                           class="btn btn-success btn-lg btn-block"/>

                                    {{ form_widget(form.saveAndCreateNew, { label: "label.save_and_create_new", attr: { class: 'btn btn-primary btn-lg btn-block' } }) }}
                                    <a href="{{ path('admin_post_list') }}" class="btn btn-link">
                                        {{ 'action.back_to_list'|trans }}
                                    </a>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                        <!-- /.col-lg-12 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdn.bootcss.com/select2/4.0.1/js/select2.min.js"></script>
    <script type="text/javascript">
        $('select').select2({
            placeholder: "Select the tags",
            maximumSelectionSize: 3
        });
        $("#post_content").bind("input propertyonchange", function() {
            this.editor.update();
            if ($("#post_content").val().length == 0) {
                $("#content_preview").hide();
            } else {
                $("#content_preview").show();
            }
        });
        function Editor(input, preview) {
            this.update = function () {
                preview.innerHTML = markdown.toHTML(input.value);
            };
            input.editor = this;
            this.update();
        }
        new Editor(document.getElementById("post_content"), document.getElementById("preview"));

    </script>
{% endblock %}