{% extends "TaichiBlogBundle:Admin:layout.html.twig" %}

{% block title %}Taichi Blog Admin Panel{% endblock %}

{% block mainmenu %}
    {% set menuDashboard=1 %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2>Dashboard</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="mini-charts">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-cyan">
                            <div class="clearfix">
                                <div class="chart stats-line-1"></div>
                                <div class="count">
                                    <small>Total Posts</small>
                                    <h2>{{ posts }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-orange">
                            <div class="clearfix">
                                <div class="chart stats-line-2"></div>
                                <div class="count">
                                    <small>Total Users</small>
                                    <h2>{{ users }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-lightgreen">
                            <div class="clearfix">
                                <div class="chart stats-line-3"></div>
                                <div class="count">
                                    <small>Total Comments</small>
                                    <h2>{{ comments }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="mini-charts-item bgm-bluegray">
                            <div class="clearfix">
                                <div class="chart stats-line-4"></div>
                                <div class="count">
                                    <small>Total Tags</small>
                                    <h2>{{ tags }}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {% javascripts
    '@TaichiBlogBundle/Resources/public/less/vendors/sparklines/jquery.sparkline.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            function sparklineLine(id, values, width, height, lineColor, fillColor, lineWidth, maxSpotColor, minSpotColor, spotColor, spotRadius, hSpotColor, hLineColor) {
                $('.' + id).sparkline(values, {
                    type: 'line',
                    width: width,
                    height: height,
                    lineColor: lineColor,
                    fillColor: fillColor,
                    lineWidth: lineWidth,
                    maxSpotColor: maxSpotColor,
                    minSpotColor: minSpotColor,
                    spotColor: spotColor,
                    spotRadius: spotRadius,
                    highlightSpotColor: hSpotColor,
                    highlightLineColor: hLineColor
                });
            }

            /* Mini Chart - Line Chart 1 */
            if ($('.stats-line-1')[0]) {
                sparklineLine('stats-line-1', [{{ monthPosts|join(',') }}], 85, 45, '#fff', 'rgba(0,0,0,0)', 1.25, 'rgba' + '(255,255,' + '255,0.4)' + '', 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 3, '#fff', 'rgba(255,255,255,0.4)');
            }

            /* Mini Chart - Line Chart 1 */
            if ($('.stats-line-3')[0]) {
                sparklineLine('stats-line-3', [{{ monthComments|join(',') }}], 85, 45, '#fff', 'rgba(0,0,0,0)', 1.25, 'rgba' + '' + '(255,255,' + '255,0.4)' + '', 'rgba(255,255,255,0.4)', 'rgba(255,255,255,0.4)', 3, '#fff', 'rgba(255,255,255,0.4)');
            }

        });
        $(window).load(function () {
            //Welcome Message (not for login page)
            function notify(message, type) {
                $.growl({
                    message: message
                }, {
                    type: type,
                    allow_dismiss: false,
                    label: 'Cancel',
                    className: 'btn-xs btn-inverse',
                    placement: {
                        from: 'top',
                        align: 'right'
                    },
                    delay: 2500,
                    animate: {
                        enter: 'animated fadeIn',
                        exit: 'animated fadeOut'
                    },
                    offset: {
                        x: 20,
                        y: 85
                    }
                });
            }

            if (!$('.login-content')[0]) {
                notify('Welcome back {{ app.user.username }} Hollaway', 'inverse');
            }
        });
    </script>
{% endblock %}