{% extends "TaichiBlogBundle:Admin:layout.html.twig" %}

{% block mainmenu %}
    {% set menuPostlist=1 %}
    {{ parent() }}
{% endblock %}

{% block title %}Taichi Blog Admin Panel{% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="//cdn.bootcss.com/datatables/1.10.10/css/dataTables.bootstrap.min.css" rel="stylesheet">
    {% endblock %}
{% block content %}
    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2>{{ 'menu.post_list'|trans }}</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-trending-up"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-check-all"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Refresh</a>
                            </li>
                            <li>
                                <a href="">Manage Widgets</a>
                            </li>
                            <li>
                                <a href="">Widgets Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>

            <div class="card">

                <div class="card-body card-padding">
                    {{ include('TaichiBlogBundle::_flash_messages.html.twig') }}
                    <div class="table-responsive">
                        <table id="data-table-list" class="table table-striped">
                            <thead>
                            <tr role="row">
                                <th class="sorting text-center" tabindex="0" aria-controls="dataTables-list"
                                    rowspan="1" colspan="1"><i class="fa fa-info"></i> ID
                                </th>
                                <th class="sorting text-center" tabindex="0" aria-controls="dataTables-list"
                                    rowspan="1" colspan="1"><i
                                            class="fa fa-edit"></i> {{ 'label.subject'|trans }}
                                </th>
                                <th class="sorting text-center" tabindex="0" aria-controls="dataTables-list"
                                    rowspan="1" colspan="1"><i
                                            class="fa fa-folder-o"></i> {{ 'label.category'|trans }}
                                </th>
                                <th class="sorting_desc text-center" tabindex="0"
                                    aria-controls="dataTables-list"
                                    rowspan="1" colspan="1" aria-sort="descending"><i
                                            class="fa fa-calendar"></i> {{ 'label.created_at'|trans }}
                                </th>
                                <th class="sorting text-center" tabindex="0" aria-controls="dataTables-list"
                                    rowspan="1" colspan="1"><i
                                            class="fa fa-cogs"></i> {{ 'label.actions'|trans }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for post in posts %}
                                <tr>
                                    <td class="text-center">{{ post.id }}</td>
                                    <td class="text-center">{{ post.subject }}</td>
                                    <td class="text-center">{{ post.category.name }}</td>
                                    <td class="text-center">{% if post.createdAt %}{{ post.createdAt|date("Y-m-d G:i") }}{% endif %}</td>
                                    <td class="text-center">
                                        <div class="item-actions">
                                            <a href="{{ path('admin_post_show', { id: post.id }) }}"
                                               class="btn btn-xs btn-success">
                                                <i class="fa fa-file-o"></i> {{ 'action.show'|trans }}
                                            </a>

                                            <a href="{{ path('admin_post_edit', { id: post.id }) }}"
                                               class="btn btn-xs btn-primary">
                                                <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4" align="center">No posts found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="//cdn.bootcss.com/datatables/1.10.10/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.bootcss.com/datatables/1.10.10/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#data-table-list').DataTable({
                "responsive": true,
                "pagingType": "full_numbers",
                "order": [[3, 'desc']],
                "oLanguage": {//国际语言转化
                    "oAria": {
                        "sSortAscending": " - click/return to sort ascending",
                        "sSortDescending": " - click/return to sort descending"
                    },
                    "sLengthMenu": "显示 _MENU_ 记录",
                    "sZeroRecords": "对不起，查询不到任何相关数据",
                    "sEmptyTable": "未有相关数据",
                    "sLoadingRecords": "正在加载数据-请等待...",
                    "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录。",
                    "sInfoEmpty": "当前显示0到0条，共0条记录",
                    "sInfoFiltered": "（数据库中共为 _MAX_ 条记录）",
                    "sProcessing": "<img src='../resources/user_share/row_details/select2-spinner.gif'/> 正在加载数据...",
                    "sSearch": "模糊查询：",
                    "sUrl": "",
                    //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
                    "oPaginate": {
                        "sFirst": "<i class=\"zmdi zmdi-more-horiz\"></i>",
                        "sPrevious": "<i class=\"zmdi zmdi-chevron-left\"></i>",
                        "sNext": "<i class=\"zmdi zmdi-chevron-right\"></i>",
                        "sLast": "<i class=\"zmdi zmdi-more-horiz\"></i>"
                    }
                },
            });
        });
    </script>
    {{ parent() }}
{% endblock %}
