{% extends "TaichiBlogBundle:Admin:layout.html.twig" %}

{% block title %}Taichi Blog Admin Panel{% endblock %}

{% block mainmenu %}
    {% set menuPostlist=1 %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='cssrewrite'
    'bundles/taichiblog/css/highlight-solarized-light.css' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

{% endblock %}

{% block content %}
    <section id="content">
        <div class="container">
            <div class="block-header">
                <h2>{{ post.subject }}</h2>

                <ul class="actions">

                    <li>

                    </li>

                </ul>
            </div>

            <div class="card">
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>{{ 'label.abstract'|trans }}</th>
                        <td>{{ post.abstract|markdown }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'label.content'|trans }}</th>
                        <td>{{ post.content|markdown }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'label.username'|trans }}</th>
                        <td><p>{{ post.user.username }}</p></td>
                    </tr>
                    <tr>
                        <th>{{ 'label.created_at'|trans }}</th>
                        <td><p>{{ carbon(post.createdAt).toRfc850String }}</p></td>
                    </tr>
                    </tbody>
                </table>
                <div class="card-body card-padding">
                    <a href="{{ path('admin_post_edit', { id: post.id }) }}"
                       class="btn btn-sm btn-success m-t-10">
                        <i class="fa fa-edit"></i> {{ 'action.edit_post'|trans }}
                    </a>
                    {{ include('TaichiBlogBundle:Admin:Blog/_delete_post_confirmation.html.twig') }}
                    {{ form_start(delete_form, { attr: {'data-confirmation': true} }) }}
                    {{ form_widget(delete_form) }}

                    <input type="submit" value="{{ 'action.delete_post'|trans }}" class="btn btn-danger btn-sm m-t-10"
                           data-toggle="modal" data-target="#confirmationModal"/>

                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    "@TaichiBlogBundle/Resources/public/js/highlight.pack.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        (function ($) {
            $(document).ready(function () {
                hljs.initHighlightingOnLoad();
            });
        })(window.jQuery);

        // Handling the modal confirmation message.
        $(document).on('submit', 'form[data-confirmation]', function (event) {
            var $form = $(this),
                    $confirm = $('#confirmationModal');

            if ($confirm.data('result') !== 'yes') {
                //cancel submit event
                event.preventDefault();

                $confirm
                        .off('click', '#btnYes')
                        .on('click', '#btnYes', function () {
                            $confirm.data('result', 'yes');
                            $form.find('input[type="submit"]').attr('disabled', 'disabled');
                            $form.submit();
                        })
                        .modal('show');
            }
        });
    </script>
{% endblock %}