{% extends 'base.html.twig' %}

{% block title %}   {{ sitename }}{% endblock %}

{% block stylesheets %}
    {% stylesheets output="css/app.css" filter="cssrewrite"
    "bundles/taichiblog/css/semantic.css"
    "bundles/taichiblog/css/highlight-solarized-light.css"
    "bundles/taichiblog/css/app.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link href="//cdn.bootcss.com/semantic-ui/2.1.7/components/icon.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {% javascripts output="js/app.js" filter="?jsqueeze"
    "@TaichiBlogBundle/Resources/public/js/jquery-2.1.4.js"
    "@TaichiBlogBundle/Resources/public/css/semantic.js"
    "@TaichiBlogBundle/Resources/public/js/rainyday.min.js"
    "@TaichiBlogBundle/Resources/public/js/highlight.pack.js"
    "@TaichiBlogBundle/Resources/public/js/app.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <!-- Following Menu -->
    <div class="ui large top fixed hidden menu">
        <div class="ui container">
            <a class="item" href="{{ path('blog_index') }}">
                <img src="{{ asset('bundles/taichiblog/images/logo.png') }}" class="mini logo">
            </a>
            <div class="right menu">
                {% if app.user and is_granted('ROLE_ADMIN') %}
                    <div class="item">
                        <a class="ui button" href="{{ path('sonata_admin_dashboard') }}">
                            <i class="lock icon"></i> {{ 'menu.admin'|trans }}
                        </a>
                    </div>
                {% endif %}
                {% if app.user %}
                    <div class="item">
                        <a class="ui primary button" href="{{ path('fos_user_security_logout') }}">
                            <i class="sign out icon"></i>
                            {{ 'menu.logout'|trans }}
                        </a>
                    </div>
                {% else %}
                    <div class="item">
                        <a class="ui button" href="{{ path('fos_user_security_login') }}">
                            <i class="sign in icon"></i>
                            {{ 'menu.login'|trans }}
                        </a>
                    </div>
                    <div class="item">
                        <a class="ui button" href="{{ path('fos_user_registration_register') }}">
                            <i class="user icon"></i>
                            {{ 'menu.signup'|trans }}
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="item" href="{{ path('blog_index') }}">
            <img src="{{ asset('bundles/taichiblog/images/logo.png') }}" class="ui mini image">
        </a>
        {% if app.user and is_granted('ROLE_ADMIN') %}
            <a class="item" href="{{ path('admin_dashboard') }}">
                <i class="lock icon"></i> {{ 'menu.admin'|trans }}
            </a>
        {% endif %}
        {% if app.user %}
            <a class="item" href="{{ path('fos_user_security_logout') }}">
                <i class="sign out icon"></i>
                {{ 'menu.logout'|trans }}
            </a>
        {% else %}
            <a class="item" href="{{ path('fos_user_security_login') }}">
                <i class="sign in icon"></i>
                {{ 'menu.login'|trans }}
            </a>
            <a class="item" href="{{ path('fos_user_registration_register') }}">
                <i class="user icon"></i>
                {{ 'menu.signup'|trans }}
            </a>
        {% endif %}
    </div>


    <!-- Page Contents -->
    <div class="pusher">
        {% block header %}
            <header class="ui inverted vertical masthead center aligned segment banner">

                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                        <a class="active item" href="{{ path('blog_index') }}">{{ sitename }}</a>
                        <div class="right item">
                            {% if app.user and is_granted('ROLE_ADMIN') %}
                                <a class="ui inverted button" href="{{ path('admin_dashboard') }}">
                                    <i class="lock icon"></i> {{ 'menu.admin'|trans }}
                                </a>
                            {% endif %}
                            {% if app.user %}
                                <a class="ui inverted teal button" href="{{ path('fos_user_security_logout') }}">
                                    <i class="sign out icon"></i>
                                    {{ 'menu.logout'|trans }}
                                </a>
                            {% else %}
                                <a class="ui inverted button" href="{{ path('fos_user_security_login') }}">
                                    <i class="sign in icon"></i>
                                    {{ 'menu.login'|trans }}
                                </a>
                                <a class="ui inverted teal button" href="{{ path('fos_user_registration_register')
                                }}">
                                    <i class="user icon"></i>
                                    {{ 'menu.signup'|trans }}
                                </a>
                            {% endif %}

                            {#<div class="ui icon buttons">#}
                                {#<div class="ui top left pointing dropdown button">#}
                                    {#<i class="world icon"></i>#}
                                    {#<div class="menu">#}
                                        {#{% for locale in locales() %}#}
                                            {#<div class="item"><a#}
                                                        {#href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}">{{ locale.name|capitalize }}</a>#}
                                            {#</div>#}
                                        {#{% endfor %}#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>

                <div class="ui text container">
                    {% block heading %}
                        <h1 class="ui inverted header">{{ sitename }}</h1>
                        <h2>{{ description }}</h2>
                    {% endblock %}
                </div>

            </header>
        {% endblock %}

        <div class="ui vertical stripe segment">
            <div class="ui text container">
                {{ include('TaichiBlogBundle::_flash_messages.html.twig') }}
                {% block content %}{% endblock %}
            </div>
        </div>

        {% block footer %}
            <div class="ui inverted vertical footer segment">
                <div class="ui center aligned container">
                    <img src="{{ asset('bundles/taichiblog/images/logo.png') }}" class="ui centered mini image">
                    <div class="ui horizontal inverted small divided link list">
                        <a class="item" href="#">Site Map</a>
                        <a class="item" href="#">Contact Us</a>
                        <a class="item" href="#">Terms and Conditions</a>
                        <a class="item" href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}