<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}   {% endblock %}{{ site.name }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}
        {% stylesheets filter="cssrewrite"
        '@TaichiBlogBundle/Resources/public/css/bootstrap.css'
        '@TaichiBlogBundle/Resources/public/css/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block nav %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{{ path('blog_index') }}">{{ site.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_dashboard') }}">
                                <i class="fa fa-lock"></i> Admin
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li>
                            <a href="{{ path('security_logout') }}">
                                <i class="fa fa-sign-out"></i>
                                Logout
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('security_login_form') }}">
                                <i class="fa fa-sign-in"></i>
                                Login
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
{% endblock %}
<div class="container">
    {% block heading %}{% endblock %}
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div> <!-- /container -->
{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>© 2015 - The Symfony Project</p>
                    <p>MIT License</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.facebook.com/SensioLabs"><i class="fa fa-facebook"></i></a>
                        <a href="http://symfony.com/blog"><i class="fa fa-rss"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
<script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% javascripts '@TaichiBlogBundle/Resources/public/js/main.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}
{% endblock %}
</body>
</html>