{% extends 'TaichiBlogBundle::layout.html.twig' %}

{% block heading %}
    {% if category is not null %}
        <h1 class="ui inverted header">
            {{ 'category.name'|trans }}{{ category.name }}
        </h1>
    {% elseif tag is not null %}
        <h1 class="ui inverted header">
            {{ 'tag.name'|trans }}{{ tag.name }}
        </h1>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <h1>
                <a href="{{ path('blog_post', {id: post.id}) }}">
                    {{ post.subject }}
                </a>
            </h1>
            <div class="ui horizontal post-meta">
                <i class="calendar icon"></i>
                <time datetime="{{ post.createdAt | date('c') }}" class="date">
                    {{ post.createdAt | diffForHumans }}
                </time>
                {% if category is null %}
                    <i class="folder outline icon"></i>
                    <a class="item" href="{{ path('blog_category', {name: post.category.name}) }}">
                        {{ post.category.name }}
                    </a>
                {% endif %}
                {% if tag is null %}
                    <i class="tag icon"></i>
                    {% for tag in post.tags %}
                        <a class="item" href="{{ path('blog_tag', {name: tag.name}) }}">{{ tag.name }}</a>{% if loop.index < loop.length %}, {% endif %}
                    {% endfor %}
                {% endif %}
                <i class="comments icon"></i>
                <span>
                    {{ 'post.num_comments'|transchoice(post.comments|length) }}
                </span>
            </div>
            {% if post.pictureUrl is not empty %}
            <div class="ui grid">
                <div class="four wide column">
                    <img class="ui small rounded image" src="{{ post.pictureUrl }}">
                </div>
                <div class="twelve wide column">
                    {{ post.abstract|markdown }}
                </div>
            </div>
            {% else %}
                {{ post.abstract|markdown }}
            {% endif %}
        </article>
        <h4 class="ui horizontal header divider">
            <a href="{{ path('blog_post', {id: post.id}) }}">
                READ MORE
            </a>
        </h4>
    {% else %}
        <div class="well">Null</div>
    {% endfor %}

    {% include('TaichiBlogBundle:Pagination:ui-pager.html.twig') %}

{% endblock %}