{% extends 'TaichiBlogBundle:Blog:index.html.twig' %}

{% block heading %}
    <h1 class="ui inverted header">
        Tag: {{ tag.name }}
    </h1>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <h1>
                <a href="{{ path('blog_post', {slug: post.slug}) }}">
                    {{ post.subject }}
                </a>
            </h1>

            <div class="ui horizontal post-meta">
                <i class="calendar icon"></i> <span class="item">{{ post.createdAt|date("Y-m-d G:i") }}</span>
                <i class="folder outline icon"></i> <a
                        class="item" href="{{ path('blog_category', {name: post.category.name}) }}">{{ post.category.name }}</a>
            </div>
            {{ post.summary|markdown }}
        </article>
        <h4 class="ui horizontal header divider">
            <a href="{{ path('blog_post', {slug: post.slug}) }}">
                Read More
            </a>
        </h4>
    {% else %}
        <div class="well">Null</div>
    {% endfor %}

    {% include('TaichiBlogBundle:Pagination:ui-pager.html.twig') %}

{% endblock %}