<!DOCTYPE html>
<html lang="{{ locale }}">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets filter="cssrewrite"
        'bundles/taichiblog/less/vendors/bower_components/fullcalendar/dist/fullcalendar.min.css'
        'bundles/taichiblog/less/vendors/bower_components/animate.css/animate.min.css'
        'bundles/taichiblog/less/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css'
        'bundles/taichiblog/less/vendors/bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css'
        'bundles/taichiblog/less/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css'
        'bundles/taichiblog/less/vendors/bower_components/lightgallery/light-gallery/css/lightGallery.css'
        "bundles/taichiblog/css/highlight-solarized-light.css"
        'bundles/taichiblog/css/material.css' %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock %}
</head>

<body>

<div id="wrapper">
    <header id="header" class="clearfix" data-current-skin="teal">
        <ul class="header-inner">
            <li id="menu-trigger" data-trigger="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="logo hidden-xs">
                <a href="{{ path('admin_dashboard') }}">Taichi Blog Admin</a>
            </li>

            <li class="pull-right">
                <ul class="top-menu">
                    <li id="toggle-width">
                        <div class="toggle-switch">
                            <input id="tw-switch" type="checkbox" hidden="hidden">
                            <label for="tw-switch" class="ts-helper"></label>
                        </div>
                    </li>

                    <li id="top-search">
                        <a href=""><i class="tm-icon zmdi zmdi-search"></i></a>
                    </li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" href=""><i class="tm-icon zmdi zmdi-more-vert"></i></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li class="skin-switch hidden-xs">
                                <span class="ss-skin bgm-lightblue" data-skin="lightblue"></span>
                                <span class="ss-skin bgm-bluegray" data-skin="bluegray"></span>
                                <span class="ss-skin bgm-cyan" data-skin="cyan"></span>
                                <span class="ss-skin bgm-teal" data-skin="teal"></span>
                                <span class="ss-skin bgm-orange" data-skin="orange"></span>
                                <span class="ss-skin bgm-blue" data-skin="blue"></span>
                            </li>
                            <li class="divider hidden-xs"></li>
                            <li class="hidden-xs">
                                <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Toggle
                                    Fullscreen</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('blog_index') }}"><i class="tm-icon zmdi zmdi-home"></i></a>
                    </li>
                </ul>
            </li>
        </ul>


        <!-- Top Search Content -->
        <div id="top-search-wrap">
            <div class="tsw-inner">
                <i id="top-search-close" class="zmdi zmdi-arrow-left"></i>
                <input type="text">
            </div>
        </div>
    </header>

    <section id="main" data-layout="layout-1">
        <aside id="sidebar" class="sidebar c-overflow">
            <div class="profile-menu">
                <a href="">
                    <div class="profile-pic">
                        {% image '@TaichiBlogBundle/Resources/public/images/profile-pics/1.jpg' %}
                        <img src="{{ asset_url }}" alt="">
                        {% endimage %}
                    </div>

                    <div class="profile-info">
                        {{ app.user.username }} Hollaway

                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </a>

                <ul class="main-menu">
                    <li>
                        <a href="profile-about.html"><i class="zmdi zmdi-account"></i> View Profile</a>
                    </li>
                    <li>
                        <a href="{{ path('security_logout') }}"><i
                                    class="zmdi zmdi-time-restore"></i> {{ 'menu.logout'|trans }}</a>
                    </li>
                </ul>
            </div>

            {% block mainmenu %}
            <ul class="main-menu">
                <li{% if menuDashboard is defined %} class="active"{% endif %}>
                    <a href="{{ path('admin_dashboard') }}"><i class="zmdi zmdi-home"></i> Home</a>
                </li>
                <li class="sub-menu{% if menuPostlist is defined or menuPostcreate is defined %} active toggled{% endif %}">
                    <a href=""><i class="zmdi zmdi-collection-text"></i> {{ 'menu.posts'|trans }}</a>

                    <ul>
                        <li><a{% if menuPostlist is defined %} class="active"{% endif %} href="{{ path('admin_post_list') }}">{{ 'menu.post_list'|trans }}</a></li>
                        <li><a{% if menuPostcreate is defined %} class="active"{% endif %} href="{{ path('admin_post_create') }}">{{ 'menu.create_post'|trans }}</a></li>
                    </ul>
                </li>
            </ul>
            {% endblock %}
        </aside>

        {% block content %}{% endblock %}
    </section>
    <footer id="footer">
        Copyright &copy; 2015 Material Admin

        <ul class="f-menu">
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
            <li><a href="">Reports</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </footer>

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="preloader pls-blue">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20"/>
            </svg>

            <p>Please wait...</p>
        </div>
    </div>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1 class="c-white">Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web
            browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        {% image '@TaichiBlogBundle/Resources/public/images/browsers/chrome.png' %}
                        <img src="{{ asset_url }}" alt="">
                        {% endimage %}
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        {% image '@TaichiBlogBundle/Resources/public/images/browsers/firefox.png' %}
                        <img src="{{ asset_url }}" alt="">
                        {% endimage %}
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        {% image '@TaichiBlogBundle/Resources/public/images/browsers/opera.png' %}
                        <img src="{{ asset_url }}" alt="">
                        {% endimage %}
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        {% image '@TaichiBlogBundle/Resources/public/images/browsers/safari.png' %}
                        <img src="{{ asset_url }}" alt="">
                        {% endimage %}
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        {% image '@TaichiBlogBundle/Resources/public/images/browsers/ie.png' %}
                        <img src="{{ asset_url }}" alt="">
                        {% endimage %}
                        <div>IE (New)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->

    <!-- Javascript Libraries -->
    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block javascripts %}
        {% javascripts
        '@TaichiBlogBundle/Resources/public/less/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js'
        '@TaichiBlogBundle/Resources/public/less/vendors/bootstrap-growl/bootstrap-growl.min.js'
        '@TaichiBlogBundle/Resources/public/less/vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.min.js'
        '@TaichiBlogBundle/Resources/public/less/vendors/bower_components/lightgallery/light-gallery/js/lightGallery.min.js'
        '@TaichiBlogBundle/Resources/public/less/vendors/bower_components/autosize/dist/autosize.min.js'
        '@TaichiBlogBundle/Resources/public/admin/js/functions.js'
        '@TaichiBlogBundle/Resources/public/admin/js/admin.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

</body>
</html>